/* 

Project Name: Yangguang Food Group 
Client: Yangguang Food Group
Author: Xiang Yue


*/


body {
	background: url('../images/DSC_0954.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: left 115% top 20%; 
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
}

#container {
	background: #000000;
	width: 424px;
	color: white;
	padding: 30px;
}

h1 {
	font-size: 65px;
}

h2 {
	background: #009999;
	font-size: 20px;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

a {
	color: blue;
	text-decoration: none;
}